body{
    display: flex;
    justify-content: center;
    height: 100%;
}
.sidebar_left{
    width:88px;
    height: 1500px;
    border-right: 1px solid #F0F3F4;
    display: flex;
    flex-direction: column;
}
.sidebar_left div{
    margin-left:30px;
}
.content{
    width: 598px;
    height: 1500px;
    text-align: center;
    border-right: 1px solid #F0F3F4;
}
.content .header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.content .header .search{
    background: #EFF3F4 ;
    margin-left: 16px;
    margin-top: 4px;
    width:510px;
    border-radius: 999px;
}

.content .header img:first-child{
    float:left;
    margin-top: 14px;
    margin-left:16px;
    margin-bottom:14px;
}

.content .header input{
    border:none;
    background: transparent;
    float:left;
    margin-top:14px;
    margin-left:14px;
}
/*나를 위한 트렌드*/
.trendList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.trendList h2{
    height: 23px;
    left: 104px;
    top: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */
    color: #000000;
    text-align: left;
    margin-left:16px;
    margin-top:16px;
}
.trendList #trend{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.trendList #trend_left{
    margin-top:16px;
    margin-left: 16px;
    width:90%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.trendList #trend_right{
    align-items: center;
}
.trendList p a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    text-decoration: none;

}
.trendList p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #536471;
    line-height: 18px;
}

.trendList footer {
    line-height: 48px;
    margin-left: 20px;
    justify-content:left;
    text-align: left;
    box-sizing: border-box;
    width: 598px;
    height: 49px;
    border-bottom: 1px solid #F0F3F4;
}
.trendList footer a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #1D9BF0;
    text-decoration: none;
}
/*게시물*/
.postList{
    display: flex;
    flex-direction: column;
}
.postList h2{
    height: 23px;
    left: 104px;
    top: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */
    color: #000000;
    text-align: left;
    margin-left:16px;
    margin-top:16px;
}
.postList #content{
    display:flex;
    flex-direction: row;
    /* padding-right:16px; */
}
.content .media{
    display:none;
}
.postList #content #content_left{
    margin-top:26px;
    margin-left:15px;
    margin-right:0px;
}
.postList #profile_wink {
    width: 46px;
    height: 46px;
    left: 103px;
    top: 592px;
}
.postList #content #content_right{
    display:flex;
    flex-direction: column;
    margin-top: 26px;
    margin-left: 11px;
}
.postList #content #content_right #text{
    width:100%;
    text-align: left;
    margin-top:8px;
    margin-bottom:8px;
}
.postList #content #content_right #text a{
    width: 39px;
    height: 17px;
    left: 160px;
    top: 592px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    text-decoration: none;
}
.postList #content #content_right #text #blueCheck{
    text-align: center;
}
.postList #content #content_right #text #id{
    width: 107px;
    height: 17px;
    left: 220px;
    top: 592px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #536471;
}
.postList #content #content_right #text #real_content{
    width: 510px;
    height: 85px;
    left: 160px;
    top: 617px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}
.postList #content #content_right #img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.postList #content #content_right #icon{
    margin-top:17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.postList #content #content_right #icon span{
    width: 42px;
    height: 15px;
    left: 350.5px;
    top: 1014px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #566370;
}

/*sidebar_right_css*/
.sidebar_right{
    width: 350px;
    height: 283px;
    box-sizing: border-box;
    border: 1px solid #F0F3F4;
    border-radius: 16px;
    margin-top: 12px;
    margin-left: 30px;
}
.sidebar_right h2{
    width: 182px;
    height: 24px;
    left: 732px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
    text-align: left;
    padding-left: 20px;
    padding-top:12px;
}
.sidebar_right p{
    width: 326px;
    height: 15px;
    left: 728px;
    top: 64px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #566370;
    text-align: left;
    padding-left: 10px;
    padding-top:15px;
}
.sidebar_right ul li{
    box-sizing: border-box;
    width: 300px;
    height: 38px;
    left: 741px;
    top: 95px;
    border: 1px solid #F0F3F4;
    border-radius: 999px;
    text-align: center;
    margin:10px;
    padding:7px;
}
.sidebar_right ul a{
    text-decoration: none;
    color:#000000
}
#border{
    box-sizing: border-box;

    width: 598px;
    height: 1500px;
    border-right: 1px solid #F0F3F4;
}

@media (max-width:1078px){
    .sidebar_left{
        display: none;
    }
    .sidebar_right{
        display:none;
    }
    .content .header{
        display:none;
    }
    .content .media{
        display: flex;
        flex-direction: row;

    }
    .content .media #logo_media{
        margin-top:20px;
        margin-left:20px;
        margin-right:5px;
    }
    .content .media #s_media{
        margin:15px;
        width: 450px;
        height: 35px;
        left: 68px;
        top: 14px;
        background: #EFF3F4;
        border-radius: 999px;
        display: flex;
        flex-direction: row;
    }
    .content .media #s_media #search_media{
        margin-top:10px;
        margin-left: 24px;

    }
    .content .media #s_media #input_media input{
        margin-top:9px;
        margin-left:15px;
        border:none;
        background: transparent;
    }
    .content .media #dot_media{
        margin-top:15px;
        margin-left:20px;

    }

}